#secid {
    padding: 50px 0;
    text-align: center;
  }
  
  .contactDesc {
    padding: 1rem;
    font-size: 18px;
    font-weight: 300;
  }
  
  .contactForm {
    margin: 1rem auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 60rem;
  }
  
  .name,
  .email,
  .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
  }
  
  .submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem auto; /* Center the button horizontally */
    padding: 0.75rem 3.5rem;
  }
  

  .link {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .links {
    
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    gap: 2rem;
    
  }
  